body {
  padding: 0;
}

.bs-component + .bs-component {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .bs-docs-section {
    margin-top: 8em;
  }
  .bs-component {
    position: relative;
  }
  .bs-docs-section .page-header h1 {
    padding: .5rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee;
  }
  .bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }
  .bs-component .modal-dialog {
    width: 90%;
  }
  .bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
  .nav-tabs {
    margin-bottom: 15px;
  }
  .progress {
    margin-bottom: 10px;
  }
}

.text-samples > .btn {
  margin-right: 3px;
}
