{% extends "base.html" %}

{% block css %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />-->
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
{% endblock %}

{% block body %}
<main role="main" class="container">
  <div class='col-lg-4'>
    <canvas id="chart" width="200" height="200"></canvas>
  </div>
  <div class='col-lg-8'>
    <h1><i class="em em-{{icon}}" aria-role="presentation" aria-label="{{icon}}"></i> {{overview}}</h1>
    <div class="form-group">
      <label for="input-text">入力された文章</label>
      <textarea class="form-control" rows="6", id="input-text">{{text}}</textarea>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" integrity="sha256-rjYnB0Bull7k2XkbJ03UNGqMuMieR769uQVGSSlsi6A=" crossorigin="anonymous"></script>
<script>
var ctx = document.getElementById("chart").getContext('2d');
// 色の設定
let colorSet = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};
let emotion = ['yorokobi', 'ikari', 'aware', 'kowa', 'haji', 'suki', 'iya', 'takaburi', 'yasu', 'odoroki']
let color = Chart.helpers.color;
var chart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['喜び', '怒り', '哀しい', '怖い', '恥', '好き', '厭', '昂ぶり', '安らぎ', '驚き'],
      datasets: [{
        label: '',
        backgroundColor: color(colorSet.blue).alpha(0.5).rgbString(),
        borderColor: colorSet.blue,
        pointBackgroundColor: colorSet.blue,
        data: [ 
          {{result['yorokobi']}}, {{result['ikari']}}, {{result['aware']}}, {{result['kowa']}}, {{result['haji']}},
          {{result['suki']}}, {{result['iya']}}, {{result['takaburi']}}, {{result['yasu']}},  {{result['odoroki']}}, 
        ]
      }]
    },
    options: {
      legend: {
        display: false
      },
      scale: {
        display: true,
        pointLabels: {
          fontSize: 24,
        },
        ticks: {
          display: false,
          fontSize: 10,
          fontColor: colorSet.green,
          beginAtZero: true,
          max: 1,
          min: -0.2, // 最小値が 0 だとレーダーチャートの形がそれっぽくならないので底下げ
          stepSize: 0.5
        },
        gridLines: {
          display: true,
        }
      }
    }
});
</script>
{% endblock %}
