{% extends "base.html" %}
{% block body %}
<main role="main" class="container">
  <h1><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 入力された文章の感情を判定</h1>
  <p>入力された文章から感情を読み取ります。</p>
  <p class="bs-component text-samples">
    サンプル：
    <button type="button" class="btn btn-outline-primary" onclick='setSampleText(1)')>走れメロス</button>
    <button type="button" class="btn btn-outline-primary" onclick='setSampleText(2)')>檸檬</button>
    <button type="button" class="btn btn-outline-primary" onclick='setSampleText(3)')>ニュース記事</button>
    <button type="button" class="btn btn-outline-primary" onclick='setSampleText(4)')>レストランのレビュー</button>
    <button type="button" class="btn btn-outline-primary" onclick='setSampleText(5)')>否定語１</button>
    <button type="button" class="btn btn-outline-primary" onclick='setSampleText(6)')>否定語２</button>
  </p>

  <form method="post" action="{{ url_for('analysis') }}">
    <div class="form-group">
      <textarea class="form-control" rows="6" name="text" id="input-textarea"></textarea>
    </div>
    <button class="btn btn-primary ">感情を読み取り</button>
  </form>
</main><!-- /.container -->
{% endblock %}

{% block script %}
<script>
function setSampleText(value){
  let textarea = document.getElementById("input-textarea");
  switch(value) {
    case 1:
      textarea.innerHTML = "メロスは激怒した。必ず、かの邪智暴虐の王を除かなければならぬと決意した。メロスには政治がわからぬ。メロスは、村の牧人である。笛を吹き、羊と遊んで暮して来た。けれども邪悪に対しては、人一倍に敏感であった。";
      break;
    case 2:
      textarea.innerHTML = "えたいの知れない不吉な塊が私の心を始終圧おさえつけていた。焦躁と言おうか、嫌悪と言おうか――酒を飲んだあとに宿酔があるように、酒を毎日飲んでいると宿酔に相当した時期がやって来る。それが来たのだ。これはちょっといけなかった。結果した肺尖カタルや神経衰弱がいけないのではない。また背を焼くような借金などがいけないのではない。いけないのはその不吉な塊だ。";
      break;
    case 3:
      textarea.innerHTML ="仕事に向かうという男性は「死亡者が出ているのにウイルス自体は全く目にみえない」と話し、感染に歯止めがかからないことへの恐怖感をつのらせていました。また、高齢の男性は「いつ終わるかわからないので不安だ。こんな状況は経験したこともない。戦争よりもひどい」と話し、先行きに懸念を示していました。"
      break;
    case 4:
      textarea.innerHTML ="このお店は昭和っぽい懐かしい感じがする店構えで、地元の人なら知ってる有名なお店です。メニューはどれも味も見た目もよく、県外の有名人も来店するぐらいです。ボリュームも満点で、お腹いっぱいです。まだまだ、美味しそうなメニューがたくさんあったので、また食べに来たいです。"
      break;
    case 5:
      textarea.innerHTML ="彼のことが好きではない"
      break;
    case 6:
      textarea.innerHTML ="彼のことは嫌いではない！(;´Д`)"
      break;
  }
}
</script>
{% endblock %}